<launch>
	<arg name="gui" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="world" default="thin_beer"/>

	<!-- set DISPLAY environment variable, so remote sessions work -->
	<env name="DISPLAY" value="$(optenv DISPLAY :0)" />

	<!-- launch the base nodes -->
	<include file="$(find pr2_grasping)/launch/base.launch">
		<arg name="world" value="$(arg world)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>

	<!-- launch the grasping nodes -->
	<include file="$(find pr2_grasping)/launch/cloud_analysis.launch"/>
	<include file="$(find pr2_grasping)/launch/support_services.launch"/>
	<include file="$(find pr2_grasping)/launch/grasping.launch"/>
</launch>